<section class="sidebar-tab tab flexcol" id="compendium" data-tab="compendium">
  <ol class="directory-list">
    {{#each packs as |pack label|}}
    <li class="compendium-entity">
      <h3>{{label}}</h3>
      <ol class="compendium-list">
        {{#each pack.packs}}
        <li class="compendium-pack" data-pack="{{this.collection}}" data-open="0">
          <h4 class="pack-title">
            <a><i class="folder fas fa-folder"></i> {{this.metadata.label}}</a>
            <div class="status-icons">
              {{#if this.private}}<i class="fas fa-eye-slash"></i>{{/if}}
              {{#if this.locked}}<i class="fas fa-lock"></i>{{/if}}
            </div>
          </h4>
          <footer class="compendium-footer">
            <span class="entity-type">{{this.metadata.entity}}</span>
            <span> ({{this.metadata.package}})</span>
          </footer>
        </li>
        {{/each}}
      </ol>
    </li>
    {{/each}}
  </ol>
  
  <footer class="directory-footer">
    {{#if user.isGM}}
    <button class="create-compendium" type="submit"><i class="fas fa-atlas"></i> {{localize "COMPENDIUM.Create"}}</button>
    {{/if}}
    
    <div class="compendium-footer flexcol">
      <div class="flexrow">
        <button class="compendium spells">{{localize "PF1.BrowseSpells"}}</button>
        <button class="compendium items">{{localize "PF1.BrowseItems"}}</button>
      </div>
      <div class="flexrow">
        <button class="compendium bestiary">{{localize "PF1.BrowseBestiary"}}</button>
        <button class="compendium feats">{{localize "PF1.BrowseFeats"}}</button>
      </div>
      <div class="flexrow">
        <button class="compendium classes">{{localize "PF1.ItemTypeClass"}}</button>
        <span></span>
      </div>
    </div>
  </footer>
</section>
