<form class="{{cssClass}} flexcol" autocomplete="off">

  {{!-- Item Sheet Header --}}
  <header class="sheet-header flexrow">
    <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>

    <div class="header-details flexrow">
      <h1 class="charname">
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize "PF1.ItemName"}}"/>
      </h1>

      <div class="item-subtitle">
        <h4 class="item-type">{{labels.featType}}</h4>
        <span class="item-status">{{itemStatus}}</span>
      </div>
    </div>
  </header>

  {{!-- Item Sheet Navigation --}}
  <nav class="sheet-navigation tabs" data-group="primary">
    <a class="item active" data-tab="description">{{ localize "PF1.Description" }}</a>
    <a class="item" data-tab="details">{{ localize "PF1.Details" }}</a>
    <a class="item" data-tab="changes">{{ localize "PF1.Changes" }}</a>
    <a class="item" data-tab="links">{{localize "PF1.Links"}}</a>
  </nav>

  {{!-- Item Sheet Body --}}
  <section class="primary-body">

    {{!-- Description Tab --}}
    {{> "systems/pf1/templates/items/parts/item-description.html"}}

    {{!-- Details Tab --}}
    <div class="tab details" data-group="primary" data-tab="details">

      <h3 class="form-header">{{localize "PF1.Details"}}</h3>

      {{!-- Feat Type --}}
      <div class="form-group select">
        <label>{{localize "PF1.Type"}}</label>
        <select name="data.featType" value="{{data.featType}}">
          {{#select data.featType}}
          {{#each config.featTypes as |type a|}}
          <option value="{{a}}">{{type}}</option>
          {{/each}}
          {{/select}}
        </select>

        <select name="data.abilityType" value="{{data.abilityType}}">
          {{#select data.abilityType}}
          <option value="none"></option>
          {{#each config.abilityTypes as |type a|}}
          <option value="{{a}}">{{type.short}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>

      {{!-- Feat Tags --}}
      <div class="form-group stacked">
        <div class="data-selector">
          <a class="entry-selector" for="data.tags" data-fields="{{localize "PF1.Tags"}}" data-dtypes="String"><i class="fas fa-edit"></i></a>
          <label for="data.tags">{{localize "PF1.Tags"}}</label>
        </div>

        {{#if isClassFeature}}
        <div class="data-selector">
          <a class="entry-selector" for="data.associations.classes" data-fields="{{localize "PF1.ClassPlural"}}" data-dtypes="String"><i class="fas fa-edit"></i></a>
          <label for="data.associations.classes">{{localize "PF1.ClassPlural"}}</label>
        </div>
        {{/if}}
      </div>

      {{#if isTemplate}}
      <div class="form-group">
        <label>{{localize "PF1.CROffset"}}</label>
        <input type="text" name="data.crOffset" value="{{data.crOffset}}" placeholder="{{localize "PF1.Formula"}}" />
      </div>
      {{/if}}

      <div class="form-group stacked">
        {{#if owner}}
        {{#unless isTemplate}}
        <label class="checkbox">
          <input type="checkbox" name="data.showInQuickbar" {{checked data.showInQuickbar}}/> {{localize "PF1.ShowInQuickbar"}}
        </label>
        {{/unless}}
        {{/if}}
      </div>

      {{!-- Activation --}}
      <h3 class="form-header">{{localize "PF1.FeatureUsage"}}</h3>

      {{!-- Item Activation Template --}}
      {{> "systems/pf1/templates/items/parts/item-activation.html"}}

      {{!-- Action --}}
      <h3 class="form-header">{{localize "PF1.Attack"}}</h3>

      {{!-- Item Action Template --}}
      {{> "systems/pf1/templates/items/parts/item-action.html"}}

      {{!-- Measure Template --}}
      <h3 class="form-header">{{localize "PF1.MeasureTemplate"}}</h3>

      {{!-- Item Measure Template --}}
      {{> "systems/pf1/templates/items/parts/item-template.html"}}
    </div>

    {{!-- Changes Tab --}}
    <div class="tab flexcol" data-group="primary" data-tab="changes">
      {{> "systems/pf1/templates/items/parts/item-changes.html"}}

      {{> "systems/pf1/templates/items/parts/item-notes.html"}}
    </div>

    <div class="tab flexcol" data-group="primary" data-tab="links">
      {{> "systems/pf1/templates/items/parts/item-links.html"}}
    </div>
  </section>
</form>
